iot/mct_graph.txt
[{"id":"5b6a0979.450568","type":"http in","z":"bb388eb.3a9757","name":"","url":"/gauges","method":"get","swaggerDoc":"","x":109,"y":629.0000095367432,"wires":[["114defe4.238e8"]]},{"id":"97ad75a9.780888","type":"debug","z":"bb388eb.3a9757","name":"gauges_debug_db_response","active":false,"console":"true","complete":"true","x":929,"y":589,"wires":[]},{"id":"765a2594.c5d7cc","type":"function","z":"bb388eb.3a9757","name":"SetQuery","func":"msg.payload = {\n  \"limit\": 1,\n  \"selector\": {\n    \"ts\": {\n      \"$gt\": 0\n    }\n  },\n  \"fields\": [\n    \"ts\",\n    \"sensors\"\n  ],\n  \"sort\": [\n    {\n      \"ts\": \"desc\"\n    }\n  ]\n};\n\nreturn msg;","outputs":"1","noerr":0,"x":519,"y":629,"wires":[["3ea18144.fbd8ee"]]},{"id":"3ea18144.fbd8ee","type":"http request","z":"bb388eb.3a9757","name":"","method":"POST","ret":"obj","url":"https://35694ce9-b1b3-4f5b-abfb-0891b3a40076-bluemix:a11e7258a9ef8d46fdfd4bcff80664bf472c2e9dee3cda18bdbf355aa1a2bca2@35694ce9-b1b3-4f5b-abfb-0891b3a40076-bluemix.cloudant.com/raspi3monitor_multi/_find","tls":"","x":689,"y":629,"wires":[["97ad75a9.780888","c0bd5017.e0b51"]]},{"id":"c0bd5017.e0b51","type":"function","z":"bb388eb.3a9757","name":"Reset Headers and Format Response","func":"msg.headers = msg.keepHeaders;\n\nmsg.ts = msg.payload.docs[0].ts;\nmsg.sensors = [];\nObject.keys(msg.payload.docs[0].sensors).forEach(function(id) {\n    var temp = msg.payload.docs[0].sensors[id]; // default is C\n    temp = Math.round((((temp * 9) / 5) + 32) * 10, 1) / 10; // convert to F\n    msg.sensors.push({\"id\":id, \"temp\": temp});\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":949,"y":629,"wires":[["b59fc465.6fd338","b391f2a4.bdf29"]]},{"id":"114defe4.238e8","type":"function","z":"bb388eb.3a9757","name":"Persist Headers","func":"\n// Sometimes we have to do this because the headers \n// get overwritten when making the HTTP Request Call. \n\nmsg.keepHeaders = msg.headers;\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":629,"wires":[["765a2594.c5d7cc"]]},{"id":"96bbe691.ad2cc8","type":"http response","z":"bb388eb.3a9757","name":"","x":1382.7500190734863,"y":629.0000085830688,"wires":[]},{"id":"b59fc465.6fd338","type":"template","z":"bb388eb.3a9757","name":"Build multi-gauge","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n{\n  \"docs\": [\n    {\n      \"ts\": \"2017-04-29T02:29:43.139+0000\",\n      \"sensors\": [\n        { \"id\": \"28-0516a4a384ff\", \"temp\": 25.9 },\n        { \"id\": \"28-0516a42538ff\", \"temp\": 26 }\n      ]\n    }\n  ]\n}\n-->\n<script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n<script type=\"text/javascript\">\n    google.charts.load('current', {'packages':['gauge']});\n    google.charts.setOnLoadCallback(drawBasic);\n\n    function drawBasic() {\n        var options = {\n          height: 300, width: 300,\n          redFrom: 0, redTo: 32,\n          greenFrom: 65, greenTo: 80,\n          minorTicks: 5\n        };\n\n        new google.visualization.Gauge(document.getElementById('chart')).draw(google.visualization.arrayToDataTable([\n            ['Label', 'Value'],\n            {{#sensors}}\n            ['{{id}}', {{temp}} ],\n            {{/sensors}}\n            ]), options);\n    }\n</script>\n\n<h3>Most recent temperature reading</h3>\n<div>The time is currently <b>{{ts}}</b></div>\n<div id=\"chart\"></div>\n\n","x":1219.000015258789,"y":629.0000085830688,"wires":[["96bbe691.ad2cc8"]]},{"id":"b391f2a4.bdf29","type":"debug","z":"bb388eb.3a9757","name":"gauges_debug_conversion","active":false,"console":"true","complete":"true","x":1243.3750190734863,"y":584.0000077486038,"wires":[]},{"id":"1bc7a152.c3925f","type":"http in","z":"bb388eb.3a9757","name":"","url":"/graph_multi","method":"get","swaggerDoc":"","x":120,"y":754,"wires":[["2697b887.0349b8"]]},{"id":"edc75512.a4e428","type":"debug","z":"bb388eb.3a9757","name":"gm_debug_db_response","active":false,"console":"false","complete":"true","x":910,"y":713.9999904632568,"wires":[]},{"id":"b7a895f2.2275f8","type":"function","
