iot/Node-RED_Event-process.txt
[{"id":"fd307ab0.001ca8","type":"ibmiot in","z":"4f18aad7.a8ddc4","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"mct1001","applicationId":"","deviceType":"raspi3monitor","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":224,"y":499,"wires":[["1d0af84b.2c1928","1accd7a3.d1beb8","89c7a776.14e148"]]},{"id":"1d0af84b.2c1928","type":"function","z":"4f18aad7.a8ddc4","name":"reset missedCount","func":"context.global.missedCount = 0;\ncontext.global.notificationSent = false;","outputs":1,"noerr":0,"x":454,"y":499,"wires":[[]]},{"id":"1accd7a3.d1beb8","type":"debug","z":"4f18aad7.a8ddc4","name":"debug_device_event","active":false,"console":"false","complete":"true","x":464,"y":439,"wires":[]},{"id":"27a19c74.1106e4","type":"inject","z":"4f18aad7.a8ddc4","name":"pi missing monitor","topic":"","payload":"{}","payloadType":"json","repeat":"1200","crontab":"","once":false,"x":231.44052505493164,"y":656.8571472167969,"wires":[["f8caba1a.363fc8"]]},{"id":"1a924404.202b0c","type":"inject","z":"4f18aad7.a8ddc4","name":"Startup stuff","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":true,"x":254,"y":340,"wires":[["4aa9ce94.98779"]]},{"id":"4aa9ce94.98779","type":"function","z":"4f18aad7.a8ddc4","name":"Init globals","func":"context.global.missedCount = 0;\ncontext.global.notificationSent = false;","outputs":1,"noerr":0,"x":434,"y":340,"wires":[[]]},{"id":"f8caba1a.363fc8","type":"function","z":"4f18aad7.a8ddc4","name":"Inc missing count","func":"context.global.missedCount += 1;\nvar msg = {\"payload\" : context.global.missedCount};\nreturn msg;","outputs":1,"noerr":0,"x":450.19052505493164,"y":656.8571300506592,"wires":[["ee01e6.28826e18","ed8eaf4d.2d71e"]]},{"id":"ee01e6.28826e18","type":"switch","z":"4f18aad7.a8ddc4","name":"Missing > 2 ?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"2","vt":"str"}],"checkall":"true","outputs":1,"x":680.1905250549316,"y":656.8571300506592,"wires":[["da5cd265.5dd72"]]},{"id":"da5cd265.5dd72","type":"switch","z":"4f18aad7.a8ddc4","name":"should notify?","property":"notificationSent","propertyType":"global","rules":[{"t":"false"}],"checkall":"false","outputs":1,"x":880.1905250549316,"y":656.8571300506592,"wires":[["34a9d9ff.fd6d56","10a38c72.a9c694"]]},{"id":"10a38c72.a9c694","type":"function","z":"4f18aad7.a8ddc4","name":"Turn off Notification","func":"context.global.notificationSent = true;","outputs":1,"noerr":0,"x":1095.6905517578125,"y":598.6071166992188,"wires":[["15c7cc51.d07c44"]]},{"id":"34a9d9ff.fd6d56","type":"template","z":"4f18aad7.a8ddc4","name":"Notification Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"No IoT push from Raspberry Pi in the last 15 minutes. Please check Raspberry Pi power and networking.","x":1080.1905670166016,"y":704.3571262359619,"wires":[["7a1889fa.428bc8","a4522bff.5f26d8","c0a118af.dcb268"]]},{"id":"ed8eaf4d.2d71e","type":"debug","z":"4f18aad7.a8ddc4","name":"","active":true,"console":"false","complete":"false","x":670.1905250549316,"y":596.8571300506592,"wires":[]},{"id":"a4522bff.5f26d8","type":"e-mail","z":"4f18aad7.a8ddc4","server":"smtp.gmail.com","port":"465","secure":true,"name":"3152120224@txt.att.net","dname":"send txt via gmail","x":1306.4881591796875,"y":771.3928833007812,"wires":[]},{"id":"89c7a776.14e148","type":"cloudant out","z":"4f18aad7.a8ddc4","name":"save event data","cloudant":"","database":"raspi3monitor_multi","service":"temp-sensor-mct-cloudantNoSQLDB","payonly":true,"operation":"insert","x":449.4643020629883,"y":553.0357141494751,"wires":[]},{"id":"7a1889fa.428bc8","type":"twitter out","z":"4f18aad7.a8ddc4","twitter":"","name":"Tweet via @barecode_iot","x":1322.202392578125,"y":717.9642333984375,"wires":[]},{"id":"c0a118af.dcb268","type":"debug","z":"4f18aad7.a8ddc4","name":"debug_notification_sent","active":true,"console":"false","complete":"payload","x":1322.5,"y":668,"wires":[]},{"id":"15c7cc51.d07c44","type":"debug","z":"4f18aad7.a8ddc4","name":"debug_notification_off","active":true,"console":"false","complete":"payload","x":1315.5,"y":598,"wires":[]}]
