iot/Node-RED_Event-process.txt
[{"id":"18691b12.dad565","type":"ibmiot in","z":"5b63bb8c.e53404","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"pdf001","applicationId":"","deviceType":"raspi3monitor","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":123,"y":366,"wires":[["bf56d4d1.54dcf8","d41ee5b6.06ff18","28976268.36efbe"]]},{"id":"bf56d4d1.54dcf8","type":"function","z":"5b63bb8c.e53404","name":"temperature","func":"context.global.missingSMSSent = false;\ncontext.global.missedCount = 0;\n\nreturn {\"payload\" : msg.payload.d.temperature};\n//return {\"payload\" : 30};","outputs":1,"noerr":0,"x":333,"y":366,"wires":[["877f9d3c.ecad8"]]},{"id":"877f9d3c.ecad8","type":"switch","z":"5b63bb8c.e53404","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"str"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":513,"y":366,"wires":[["a5123f05.30b4e","2b9eedb.8804312"],["70afc890.a4c928"]]},{"id":"b33ad60e.140bd8","type":"debug","z":"5b63bb8c.e53404","name":"msg.payload","active":true,"complete":"payload","x":1113,"y":326,"wires":[]},{"id":"d41ee5b6.06ff18","type":"debug","z":"5b63bb8c.e53404","name":"device data","active":true,"console":"false","complete":"true","x":333,"y":306,"wires":[]},{"id":"a5123f05.30b4e","type":"template","z":"5b63bb8c.e53404","name":"safe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature ({{payload}}) non critical","x":693,"y":306,"wires":[["55e26562.57591c"]]},{"id":"c3165c22.140c8","type":"template","z":"5b63bb8c.e53404","name":"danger w/ txt","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature ({{payload}}) critically low","x":913,"y":366,"wires":[["b33ad60e.140bd8","1ec1b429.e27bac"]]},{"id":"231d25fb.6bee3a","type":"inject","z":"5b63bb8c.e53404","name":"Gone missing monitor","topic":"","payload":"{}","payloadType":"json","repeat":"3600","crontab":"","once":false,"x":143,"y":726,"wires":[["64d59706.b94308"]]},{"id":"cd5848b0.874838","type":"debug","z":"5b63bb8c.e53404","name":"","active":true,"console":"false","complete":"payload","x":1233,"y":666,"wires":[]},{"id":"55e26562.57591c","type":"debug","z":"5b63bb8c.e53404","name":"","active":true,"console":"false","complete":"payload","x":853,"y":306,"wires":[]},{"id":"70afc890.a4c928","type":"switch","z":"5b63bb8c.e53404","name":"send SMS?","property":"tempSMSSent","propertyType":"global","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","outputs":2,"x":713,"y":426,"wires":[["c3165c22.140c8","1aec1cf3.736643"],["faba6c3e.3668d"]]},{"id":"faba6c3e.3668d","type":"template","z":"5b63bb8c.e53404","name":"danger w/ no txt","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature ({{payload}}) critically low, not sending txt","x":923,"y":486,"wires":[["520ab669.2c31a8"]]},{"id":"520ab669.2c31a8","type":"debug","z":"5b63bb8c.e53404","name":"","active":true,"console":"false","complete":"false","x":1113,"y":486,"wires":[]},{"id":"c9a0cf06.d79e9","type":"inject","z":"5b63bb8c.e53404","name":"Startup stuff","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":true,"x":113,"y":86,"wires":[["6753c5e0.a028fc"]]},{"id":"6753c5e0.a028fc","type":"function","z":"5b63bb8c.e53404","name":"Init globals","func":"context.global.tempSMSSent = false;\ncontext.global.missingSMSSent = false;\ncontext.global.missedCount = 0;","outputs":1,"noerr":0,"x":293,"y":86,"wires":[[]]},{"id":"1aec1cf3.736643","type":"function","z":"5b63bb8c.e53404","name":"Turn off sms","func":"context.global.tempSMSSent = true;","outputs":1,"noerr":0,"x":913,"y":406,"wires":[[]]},{"id":"2b9eedb.8804312","type":"function","z":"5b63bb8c.e53404","name":"Turn on sms","func":"context.global.tempSMSSent = false;","outputs":1,"noerr":0,"x":713,"y":346,"wires":[[]]},{"id":"64d59706.b94308","type":"function","z":"5b63bb8c.e53404","name":"Inc missing count","func":"context.global.missedCount += 1;\nvar msg = {\"payload\" : context.global.missedCount};\nreturn msg;","outputs":1,"noerr":0,"x":373,"y":726,"wires":[["f2a6cd21.f20bd","bd84d7ca.35e398"]]},{"id":"f2a6cd21.f20bd","type":"switch","z":"5b63bb8c.e53404","name":"Missing > 2 ?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"2","vt":"str"}],"checkall":"true","outputs":1,"x":603,"y":726,"wires":[["1c12959.9ecaa6a"]]},{"id":"1c12959.9ecaa6a","type":"switch","z":"5b63bb8c.e53404","name":"send SMS?","property":"missingSMSSent","propertyType":"global","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","outputs":2,"x":793,"y":726,"wires":[["9e654391.84c6b","95f29eef.d1769"],["f1acdfa6.fb3f3"]]},{"id":"95f29eef.d1769","type":"function","z":"5b63bb8c.e53404","name":"Turn off SMS","func":"context.global.missingSMSSent = true;","outputs":1,"noerr":0,"x":993,"y":646,"wires":[[]]},{"id":"9e654391.84c6b","type":"template","z":"5b63bb8c.e53404","name":"RPi gone missing","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"RPi has not checked in for some time.  You might want to investigate","x":1013,"y":706,"wires":[["cd5848b0.874838","4e5a0b50.38cc04"]]},{"id":"f1acdfa6.fb3f3","type":"template","z":"5b63bb8c.e53404","name":"RPi still missing","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"RPi is still missing","x":1006,"y":790,"wires":[["668fe40b.72a25c"]]},{"id":"668fe40b.72a25c","type":"debug","z":"5b63bb8c.e53404","name":"","active":true,"console":"false","complete":"payload","x":1232,"y":790,"wires":[]},{"id":"bd84d7ca.35e398","type":"debug","z":"5b63bb8c.e53404","name":"","active":true,"console":"false","complete":"false","x":593,"y":666,"wires":[]},{"id":"28976268.36efbe","type":"cloudant out","z":"5b63bb8c.e53404","name":"Save event data","cloudant":"","database":"raspi3monitor","service":"IOTApp2PDF-cloudantNoSQLDB","payonly":true,"operation":"insert","x":343,"y":426,"wires":[]},{"id":"1ec1b429.e27bac","type":"e-mail","z":"5b63bb8c.e53404","server":"smtp.gmail.com","port":"465","name":"5555555555@txt.att.net","dname":"send txt via gmail","x":1132,"y":366,"wires":[]},{"id":"4e5a0b50.38cc04","type":"e-mail","z":"5b63bb8c.e53404","server":"smtp.gmail.com","port":"465","name":"5555555555@txt.att.net","dname":"send txt via gmail","x":1251,"y":706,"wires":[]}]
